section.container.layout#new-layout
  .row
    .twelve.columns
    h2.text-uppercase
        | this server has worked 
        span.val#days
        | days 
        span.val#hours
        | hours
        span.val#minutes 
        | minutes without any downtime.
    h5.text-uppercase
        | it has been active since and the current date is.
    h5.text-uppercase
        | the current time on this server is and it's located 