svg#Layer_1(enable-background='new 0 0 64 64', height='64px', version='1.1', viewbox='0 0 64 64', width='64px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
    g
        path(d='   M52,55.5c0,1.1-0.9,2-2,2H14c-1.1,0-2-0.9-2-2V8.5c0-1.1,0.9-2,2-2H50c1.1,0,2,0.9,2,2V55.5z', fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
        line(fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='12', x2='50.8', y1='39.7', y2='39.7')
        line(fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='12', x2='52', y1='22.7', y2='22.7')
        circle(cx='44.5', cy='13.5', fill='none', r='2.5', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
        circle(cx='44.5', cy='32', fill='none', r='2.5', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
        circle(cx='44.5', cy='49', fill='none', r='2.5', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2')
        line(fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='19.3', x2='37.3', y1='13.5', y2='13.5')
        line(fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='19.3', x2='37.3', y1='32.5', y2='32.5')
        line(fill='none', stroke='#4D4D4D', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', stroke-width='2', x1='19.3', x2='37.3', y1='49.5', y2='49.5')