footer#copy
// Load all scripts
script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js', type='text/javascript')
script(type='text/javascript').
 require(['bin/js/require.config'], function() {
   require(['jQuery', 'moment', 'weather', 'html2canvas', 'humane', 'app']);
 });