doctype html
html(lang='en')
  include ./head.jade
  body
    .main-container
      include ./header.jade
      include ./layouts/default.jade
      include ./layouts/advanced.jade
    include ./footer.jade