include ./scaffolding/mixins
doctype html
html(lang="en")
    include ./partials/head
    body
        .container
            .toasts-wormhole
            section.layout(id=layoutId)
                block content
            include ./partials/footer