head
  title uptimey - beautiful server uptime monitor
  meta(http-equiv='content-type', content='text/html;charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='description', content='Showcase your server uptime with uptimey!')
  link(href='client/src/img/favicon.ico?v=0.4.1', rel='shortcut icon', type='image/x-icon')
  link(href='//fonts.googleapis.com/css?family=Raleway:400,300', rel='stylesheet', type='text/css')
  link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css', rel='stylesheet', type='text/css')
  link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet', type='text/css')
  link(href='//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css', rel='stylesheet', type='text/css')
  link(href='client/bin/css/global.min.css', rel='stylesheet', type='text/css')