header.button-container.top-menu(data-position='top')
  nav.button-block
    ul
      li
        span.button.fa.fa-refresh#refresh(data-action='refresh')
      li
        span.button.fa.fa-dashboard#advanced(data-action='advanced', data-status='default')
      li
        span.button.fa.fa-twitter#twitter(data-action='twitter')
      li
        span.button.fa.fa-google-plus#google-plus(data-action='google-plus')
      li
        span.button.fa.fa-facebook#facebook(data-action='facebook')
      li
        a.button.fa.fa-camera#screenshot(data-action='screenshot')
  span.button.fa.fa-angle-double-down#toggle(data-action='toggle', data-status='closed')