doctype html
html(lang='en')
  head
    title Uptimey | Beautiful Server Uptime Monitor
    meta(http-equiv='content-type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='description', content='Showcase your server uptime with Uptimey!')
    link(rel='shortcut icon', href='client/src/img/favicon.ico?v=0.9', type='image/x-icon')
    link(href='//fonts.googleapis.com/css?family=Raleway:400,300', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.min.css', rel='stylesheet', type='text/css')
    link(href='//cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css', rel='stylesheet', type='text/css')
    link(href='client/bin/css/global.min.css', rel='stylesheet', type='text/css')
  body
    .container
      .button-container.top-menu(data-position='top')
        .button-block
          span.button.refresh-button.fa.fa-refresh(data-action='refresh')
          span.button.advanced-button.fa.fa-dashboard(data-status='default', data-action='advanced')
          span.button.twitter-button.fa.fa-twitter(data-action='twitter')
          span.button.google-plus-button.fa.fa-google-plus(data-action='google-plus')
          span.button.facebook-button.fa.fa-facebook(data-action='facebook')
          a.button.screenshot-button.fa.fa-camera(data-action='screenshot')
        span.button.toggle-button.fa.fa-angle-double-down(data-status='closed', data-action='toggle')
      section.default-panel
        .top-container
          section.time-inner
            .row
              span.label Current date on server
              span#current.val
            .row
              span.label Server is active since
              span#since.val
            .block-right.time
              span.fa.fa-circle-o
              span#time.val
          section.location-inner
            .block-right.location
              span.fa.fa-map-marker
              span#location.val
        .bottom-container
          h2 Your server's uptime until now...
          section.uptime-inner
            .col
              span#days.val
              span.label days
            .col
              span#hours.val
              span.label hours
            .col
              span#minutes.val
              span.label minutes
      section.advanced-panel
        .top-container
    footer#copy
    // Load all scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.2.0/require.min.js', type='text/javascript')
    script(type='text/javascript').
      require(['client/src/js/require.config'], function() {
      require(['jQuery', 'moment', 'weather', 'html2canvas', 'humane', 'app']);
      });