//
// Global
// --------------------------------------------------

html,
body {
    height: 100%;
}

html {
    font-size: $font-size-root;
}

body {
    background-color: $color-black;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-root;
    color: $color-grey1;
}

a,
button {
    outline: none;
    text-decoration: none;
    @include transition();

    &:hover,
    &:active,
    &:focus,
    &:visited,
    &:focus:active {
        outline: none;
    }

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

a {
    color: $color-white;

    &:hover {
        color: $color-white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-top: 0;
        margin-bottom: .5rem;
    }
}