//
// Layout and UI
// --------------------------------------------------
.container {
    .layout {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 100px;

        .blink {
            @include animation('blink 2s infinite');
        }
    }

    .copyright {

    }
}