//
// Layout and UI
// --------------------------------------------------
.container {
    .layout {
        max-width: 960px;
        margin: 0 auto;
        padding-top: 60px;

        .blink {
            @include animation('blink 2s infinite');
        }

        .loading {
            &:after {
                border-bottom-color: $color-white;
                border-left-color: $color-white;
            }
        }

        // Fix for Safari's interpretation
        // of the the flex specification
        .col-flex,
        .box-flex {
            display: flex;
            flex-direction: column;

            .box,
            .box-inner-wrapper {
                flex: 1;
            }
        }
    }

    .copyright {
        max-width: 960px;
        margin: 0 auto;
        font-size: $font-sm;

        a {
            text-decoration: underline;
        }
    }
}