section.panel#default-panel
  .row
    .col-md-6.col-xs-6#date
      .row
        .col-md-12.col-xs-12
          span.label Current date on server
          span.val#current
      .row
        .col-md-12.col-xs-12
          span.label Server is active since
          span.val#since
    .col-md-6.col-xs-6#time-location
      .row
        .col-md-12.col-xs-12
          span.fa.fa-circle-o
          span.val#time
      .row
        .col-md-12.col-xs-12
          span.fa.fa-map-marker
          span.val#location
  .row
    h2 Your server's uptime until now...
    .col-md-12.col-xs-12#uptime
      .row
        .col-md-3.col-xs-3
          span.val#days
          span.label days
        .col-md-3.col-xs-3
          span.val#hours
          span.label hours
        .col-md-3.col-xs-3
          span.val#minutes
          span.label minutes