section.container.panel#default-panel
  .row.text-center.date-wrapper
    .twelve.columns#current-wrapper
      span.label Current date on server
      span.val#current
  .row.text-center.middle-wrapper
    .four.columns#time-location-wrapper
      .row
        .twelve.columns#time-wrapper
          span.fa.fa-circle-o
          span.val#time
      .row
        .twelve.columns#location-wrapper
          span.fa.fa-map-marker
          span.val#location
    .four.columns#axis-wrapper
      .row
        .twelve.columns
          mixin point(value)
            li(id='#{value}')
              span.fa.fa-circle-thin
          - var n = 0
          ul
            while n < 12
              +point(n++)
    .four.columns#uptime-wrapper
      | Your server's uptime until now is ...
      .row
        .four.columns.uptime-columns#days-wrapper
          span.val#days
          span.label.text-capitalize days
        .four.columns.uptime-columns#hours-wrapper
          span.val#hours
          span.label.text-capitalize hours
        .four.columns.uptime-columns#minutes-wrapper
          span.val#minutes
          span.label.text-capitalize minutes
  .row.text-center.date-wrapper
    .twelve.columns#since-wrapper
      span.label Server is active since
      span.val#since