//
// Mixins
// --------------------------------------------------

@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation: #{$str};
}

@include keyframes(blink) {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@mixin transition($type) {
    transition: $type .5s ease-in-out;
}

@mixin absolute-horizontal-center {
    left: 50%;
    transform: translateX(-50%);
}

@mixin absolute-vertical-center {
    top: 50%;
    transform: translateY(-50%);
}

@mixin absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}