//
// Index layout
// --------------------------------------------------

.layout {
    &#index {
        .box {
            background-color: $color-white;
            border: 2px solid $color-grey2;
            padding: 20px;
            color: $color-grey3;
        }
    }
}