//
// Index layout
// --------------------------------------------------

.layout {
    &#index {
        .box {
            height: 100%;
            border: 1px solid rgba($color-white, .2);
            padding: 20px 15px;
            color: $color-grey1;

            &.box-sm {
                margin-bottom: 20px;
            }

            .box-inner-wrapper {
                height: 100%;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                section {
                    width: 100%;
                    align-self: flex-end;

                    .data-wrapper {
                        font-size: $font-lg;
                        line-height: $line-height-lg;

                        &#time-wrapper {
                            > span {
                                margin: 0 2px;
                                text-transform: uppercase;
                            }
                        }

                        &#uptime-wrapper {
                            > span {
                                font-size: $font-xl;
                                line-height: $line-height-xl;
                                width: 70px;

                                label {
                                    display: block;
                                    text-transform: uppercase;
                                    font-size: $font-md;
                                    line-height: $line-height-md;
                                }
                            }
                        }

                        &#advanced-wrapper {
                            font-size: $font-md;
                            line-height: $line-height-md;
                        }

                        > span {
                            display: inline-block;
                            margin: 0 10px;
                        }
                    }
                }

                footer {
                    width: 100%;
                    align-self: flex-end;
                    padding-top: 10px;
                    margin-top: 15px;
                    border-top: 1px solid rgba($color-white, .2);
                    color: rgba($color-white, .6);

                    label {
                        letter-spacing: 2px;
                    }
                }
            }
        }

        .section-header {
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid rgba($color-white, .2);
            color: rgba($color-white, .6);
            font-size: $font-size-base;
            line-height: $line-height-base;
            letter-spacing: 2px;
        }
    }
}