footer.copyright
    +row
        +column(12, 'pt-0 text-right')
            | data provided by #[a(href="https://github.com/stefanbc/uptimey" target="_blank") uptimey].
            a(href="https://twitter.com/uptimey" target="_blank" class="pl-5")
                +icon('twitter')

include ./scripts.pug