footer(class=(layoutId === 'error') ? "copyright text-center" : "copyright text-right")
    +row
        +column(12, 12, 'pt-0')
            | data provided by #[a(href="https://github.com/stefanbc/uptimey" target="_blank") @uptimey].

include ./scripts