head
    title #{title}

    include ./meta

    -var stylesheets = ["//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600", "/public/styles/vendor.min.css", "/public/styles/uptimey.min.css"];
    each val in stylesheets
        link(rel="stylesheet" href=val type="text/css")