include ./scaffolding/mixins
doctype html
html(lang="en")
    include ./partials/head
    body
        .container
            include ./partials/header
            section.layout(id=layoutId)
                block content
            include ./partials/footer