include ./scaffolding/mixins.pug
doctype html
html(lang='en')
    include ./partials/head.pug
    body
        .container
            include ./partials/header.pug
            section(class='layout' id=layoutId)
                block content
            include ./partials/footer.pug